In [1]:
import numpy as np
import pandas as pd

In [2]:
csv_df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [3]:
csv_df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
csv_df.std()

C:\Users\Sol Naciente\AppData\Local\Temp\ipykernel_10232\4004240314.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  csv_df.std()

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1567.663696
Y2015           1603.403984
Y2016           1640.007194
Y2017           1671.862359
Y2018           1710.782658
dtype: float64

In [5]:
csv_df.mean()

C:\Users\Sol Naciente\AppData\Local\Temp\ipykernel_10232\1276477327.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  csv_df.mean()

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [8]:
a = csv_df.groupby('Element')

In [9]:
a

In [13]:
csv_df.corr(method='kendall')

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.003807,0.000077,0.016511,0.017399,0.014528,0.014069,0.015546
Item Code,-0.003807,1.000000,-0.015003,0.092185,0.093783,0.094614,0.094090,0.093288
Element Code,0.000077,-0.015003,1.000000,-0.002848,-0.005358,-0.000947,0.001603,-0.002801
Y2014,0.016511,0.092185,-0.002848,1.000000,0.909291,0.889675,0.872313,0.861810
Y2015,0.017399,0.093783,-0.005358,0.909291,1.000000,0.908289,0.888758,0.875977
Y2016,0.014528,0.094614,-0.000947,0.889675,0.908289,1.000000,0.909152,0.887806
Y2017,0.014069,0.094090,0.001603,0.872313,0.888758,0.909152,1.000000,0.916117
Y2018,0.015546,0.093288,-0.002801,0.861810,0.875977,0.887806,0.916117,1.000000

In [16]:
unique_countries = csv_df.nunique('Area')

ValueError: No axis named Area for object type DataFrame